DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=

DB_ENGINE=django.db.backends.postgresql
DB_NAME=gestion_incidencias
DB_USER=gestion_user
DB_PASSWORD=change_me
DB_HOST=db
DB_PORT=5432
DB_CONN_MAX_AGE=60
REDIS_URL=redis://redis:6379/0
DJANGO_STATIC_ROOT=/app/staticfiles

DJANGO_SECRET_KEY=change-me-in-production
