<div class="dropdown" id="notif-badge-container">
    <button class="btn btn-link position-relative text-dark" type="button" data-bs-toggle="dropdown">
        <i class="bi bi-bell fs-5"></i>
        </button>
    <ul class="dropdown-menu dropdown-menu-end shadow border-0 rounded-3" id="notifications-list" style="width: 300px;">
        <li class="dropdown-header">Notificaciones</li>
        <li><hr class="dropdown-divider"></li>
        <li class="text-center py-3 text-muted">No hay notificaciones nuevas</li>
    </ul>
</div>